<div class="card" >
  <img class="card-img-top" src="/images/ejemplo1.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">La ruta</h4>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="/images/ejemplo2.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">del dinero</h4>
  </div>
</div>

<div class="card" >
  <img class="card-img-top" src="/images/ejemplo3.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">K</h4>
  </div>
</div>
